@import url('https://fonts.googleapis.com/css?family=Chivo:900|Roboto&subset=latin-ext');

* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.color1 {
    background-color: #006ead;
}

.color2 {
    background-color: #8a9bff;
}

.color3 {
    background-color: #f4ff4a;
}

.color4 {
    background-color: #ffde21;
}

.color5 {
    background-color: #b50000;
}

body {
    background-color: #ffffff;
}

.container, .container-fluid {
    background-color: #eeeeee;
}

#header {
    font-family: "Chivo", sans-serif;
    font-weight: 900;
    font-size: 2em;
    background-color: #eeeeee;
    color: #0084c4;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}

#header > #logo {
    height: 64px;
    width: 64px;
}

@media (min-width: 768px) {
    #header {
        font-size: 3em;
    }

    #header > #logo {
        height: 96px;
        width: 96px;
    }
}

@media (min-width: 992px) {
    #header {
        font-size: 4em;
    }

    #header > #logo {
        height: 128px;
        width: 128px;
    }
}

#menu {
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #006ead;
}

li {
    float: left;
    width: 25%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: #ffffff;
    background-color: #0084c4;
    text-decoration: none;
}

#content {
    padding: 14px 16px;
}


/* TEAM HOTEL CSS AANPASSINGEN*/

#footer {
    width: 100%;
    padding: 14px 16px;
    background-color: #006ead;
    color: #ffffff;
}
table {
    border-radius: 5px;
    width: 100%;
    margin: auto;
}

.roominfocheckboxes {
border-color: #005693;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  border-color: #005693;
}

.navbar-default {
    background-color: #eeeeee;
    border-color: #E7E7E7;
    }

.btnroominfo {
    background-color: #eeeeee;
    border-color: #005693;
    color: #005693;
    }
    .btnroominfo:hover {
        background-color: #005693;
        border-color: #005693;
        color: #eeeeee;
        }
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^
   TEAM HOTEL CSS AANPASSINGEN*/