.dashboardButton {
    background-color: #005693; /* Blue */
    border: none;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
    border-radius: 3px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 20px; 
    width:330px; 
    height: 250px;
    min-width: 200px;

}

.dashboardButton:hover {
    background-color: #3277a8;
}

.dashboardButton>p {
    display: inline-block; 
    overflow: hidden; 
    text-decoration: none;
}

.extraMargin{
    margin-bottom: 20px;
}