.dashboardButton,
.dashboardButtonNoHover {
  background-color: #005693; /* Blue */
  border: none;
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
  border-radius: 3px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 20px;
  width: 330px;
  height: 250px;
  min-width: 200px;
}

.dashboardButton:hover {
  background-color: #0074c7;
}

.dashboardButtonHotel:hover {
    background: url('/hotel/skyline.jpg');
    background-size:cover;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.dashboardButton > p, .dashboardButtonNoHover > p {
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
}

.extraMargin {
  margin-bottom: 20px;
}

#inputEmail {
  width: 100%;
}

.btnsubmitemail {
  background-color: #eeeeee;
  border-color: #005693;
  color: #005693;
}

.btnsubmitemail:hover {
  background-color: #0074c7;
  border-color: #eeeeee;
  color: #eeeeee;
}

.btnsubmitemail:active {
    background-color: #0074c7;
    border-color: #eeeeee;
    color: #eeeeee;
  }


#roomserviceMenu {
    margin-top: 160px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 20%;
    box-shadow: 0 0 0 1px #005693;
 }

 #roomserviceMenu td, #roomserviceMenu th {
     border: 1px solid #ddd;
     padding: 8px;
 }

 #roomserviceMenu tr:nth-child(even){background-color: #f2f2f2;}

 #roomserviceMenu tr:hover {background-color: #ddd;}

 #roomserviceMenu th {
     padding-top: 12px;
     padding-bottom: 12px;
     text-align: left;
     background-color: #005693;
     color: white;
 }

 #mealOptions {
    margin-top: 160px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 20%;
    box-shadow: 0 0 0 1px #005693;
    float: left;
 }

 #mealOptions td, #mealOptions th {
      border: 1px solid #ddd;
      padding: 8px;
 }

 #mealOptions tr:nth-child(even){background-color: #f2f2f2;}

 #mealOptions tr:hover {background-color: #ddd;}

 #mealOptions th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #005693;
      color: white;
 }

 .floatLeft { width: 50%; float: left; }
 .floatRight {width: 50%; float: right; }
 .container { overflow: hidden; }

  .popover{
      max-width: 100%; /* Max Width of the popover (depending on the container!) */
  }
  .dashboardInteractiveText{
  font-size: 12pt;
  }

.btnconfirm1 {
    background-color: #005693;
    color: #FFF;
    }

.h4center{
text-align: center;
}
